<div *ngIf="classDetails" class="p-6 dark:bg-gray-800 ">
  <div class="container mx-auto">
    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mb-4">
            <div class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
                <span class="text-3xl font-bold">{{ statusCounts().studying }}</span>
                <span class="text-gray-600">Studying</span>
            </div>
            <div class="bg-yellow-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
                <span class="text-3xl font-bold">{{ statusCounts().delay }}</span>
                <span class="text-gray-600">DELAY</span>
            </div>
            <div class="bg-yellow-200 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
                <span class="text-3xl font-bold">{{ statusCounts().dropped }}</span>
                <span class="text-gray-600">DROPPED</span>
            </div>
            <div class="bg-cyan-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
                <span class="text-3xl font-bold">{{ statusCounts().graduated }}</span>
                <span class="text-gray-600">GRADUATED</span>
            </div>
        </div> -->
  </div>
  <div class="flex flex-wrap justify-between items-center gap-2 mb-6 ">
    <div class="flex flex-col items-start">
      <h2 class="text-lg font-medium dark:text-gray-100">{{classDetails.center}}_{{ classDetails?.className }}</h2>
      <small class="text-gray-600 dark:text-gray-100">Total Students: {{ totalStudent }}</small>
      <small class="text-gray-600 dark:text-gray-100">Sem: {{ classDetails.semesterName }}</small>

    </div>
    <!-- Right-aligned buttons -->
    <div class="flex gap-2">
      <button (click)="onAdd()"
        class="bg-white mt-6 text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow-md transition duration-300 ease-in-out">
        <i class="fa-solid fa-plus mr-1"></i> Add
      </button>

      <a [routerLink]="getExamMarkLink()" routerLinkActive="active-link">
        <button
          class="bg-white mt-6 text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow-md transition duration-300 ease-in-out">
          <i class="fa-solid fa-book-open mr-1"></i> Mark
        </button>
      </a>

    </div>

  </div>


  <div class="overflow-x-auto rounded-lg shadow-md">
    <table class="min-w-full bg-white dark:bg-gray-700 rounded-lg shadow-md">
      <thead class="bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-200">
        <tr>
          <th class="px-4 py-2 text-left">Avatar</th>
          <th class="px-4 py-2 text-left">Full Name</th>
          <th class="px-4 py-2 text-left">Roll Number</th>
          <th class="px-4 py-2 text-left">Email</th>
          <th class="px-4 py-2 text-left">Phone</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate through students inside the classDetails.content array -->
        <tr *ngFor="let student of classDetails.students"
          class="border-t border-gray-200 dark:border-gray-600 cursor-pointer"
          [routerLink]="[currentUserRole === 'ROLE_ADMIN' ? '/admin/student-performance' : '/sro/student-performance', classDetails.id, student.userId]">
          <td class="px-4 py-2">
            <img [src]="student.image ? student.image : 'assets/images/avatar-default.webp'" alt="Avatar"
              class="w-10 h-10 rounded-full object-cover" />
          </td>
          <td class="px-4 py-2 dark:text-gray-100">{{ student.fullName }}</td>
          <td class="px-4 py-2 dark:text-gray-100">{{ student.rollNumber }}</td>
          <td class="px-4 py-2 dark:text-gray-100">{{ student.email }}</td>
          <td class="px-4 py-2 dark:text-gray-100">{{ student.phoneNumber }}</td>
          <td class="px-4 py-2 dark:text-gray-100" [ngClass]="{
                        'text-green-500': student.status === 'STUDYING',
                        'text-yellow-500': student.status === 'DELAY',
                        'text-red-500': student.status === 'DROPPED',
                        'text-orange-500': student.status === 'GRADUATED'
                    }">
            {{ student.status }}
          </td>
          <td class="py-2 px-4 text-center dark:text-gray-100">
            <button (click)="onUpdate(student, $event)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="classDetails.students==0 || classDetails.length === 0" class="text-red-500">
      No students found for this class.
    </div>
  </div>
  <div
    class="flex items-center justify-between p-4 mt-4 rounded-lg bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700">
    <div class="flex items-center space-x-6 ml-auto">
      <div class="flex items-center space-x-4 mr-3">
        <span class="text-gray-700 dark:text-gray-300">Items per page:</span>
        <select
          class="block w-20 p-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm dark:bg-gray-700 dark:text-white"
          [ngModel]="itemsPerPage()" (ngModelChange)="onItemsPerPageChange($event)">
          <option *ngFor="let option of [5, 10, 20]" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="text-gray-700 dark:text-gray-300 mr-10 ml-10">
        Page {{ currentPage() }} of {{ totalPages() }}
      </div>

      <div class="flex items-center space-x-4">
        <button (click)="goToFirstPage()" [disabled]="currentPage() === 1"
          class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed">
          <i class="fas fa-angle-double-left mr-3 ml-3"></i>
        </button>
        <button (click)="goToPreviousPage()" [disabled]="currentPage() === 1"
          class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed">
          <i class="fa-solid fa-chevron-left mr-3 ml-3"></i>
        </button>
        <button (click)="goToNextPage()" [disabled]="currentPage() === totalPages()"
          class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed">
          <i class="fa-solid fa-chevron-right mr-3 ml-3"></i>
        </button>

        <button (click)="goToLastPage()" [disabled]="currentPage() === totalPages()"
          class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed">
          <i class="fas fa-angle-double-right mr-3 ml-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>