<div class="container mx-auto mt-8 p-4">
    <div class="mt-4">
        <a routerLink="/admin/class/create" class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded">
          Add New Class
        </a>
      </div>    
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden table-auto">
        
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">ID</th>
          <th class="py-2 px-4">Class Name</th>
          <th class="py-2 px-4">Days</th>
          <th class="py-2 px-4">Admission Date</th>
          <th class="py-2 px-4">Hour</th>
          <th class="py-2 px-4">Center</th>
          <th class="py-2 px-4">Status</th>
          <th class="py-2 px-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classItem of classes" class="border-b">
          <td class="py-2 px-4 text-center">{{ classItem.id }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.className }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.days }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.admissionDate | date: 'yyyy-MM-dd' }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.hour }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.center }}</td>
          <td class="py-2 px-4 text-center">{{ classItem.status }}</td>
          <td class="py-2 px-4 text-center">
            <a class="bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded" (click)="deleteClass(classItem.id)">
              Delete
            </a>
            <a [routerLink]="['/admin/class/update', classItem.id]" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded ml-2">
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  