<div class="flex-1 bg-gray-50 p-6 dark:bg-slate-900">
    
    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">16</span>
            <span class="text-gray-600">Studying</span>
        </div>
        <div class="bg-yellow-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">4</span>
            <span class="text-gray-600">Finished</span>
        </div>
        <div class="bg-yellow-200 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">16</span>
            <span class="text-gray-600">Cancel</span>
        </div>
        <div class="bg-cyan-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">2</span>
            <span class="text-gray-600">Scheduled</span>
        </div>
        <div class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">1</span>
            <span class="text-gray-600">Sem 1</span>
        </div>
        <div class="bg-yellow-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">2</span>
            <span class="text-gray-600">SEM 2</span>
        </div>
        <div class="bg-yellow-200 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">16</span>
            <span class="text-gray-600">SEM 3</span>
        </div>
        <div class="bg-cyan-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center">
            <span class="text-3xl font-bold">2</span>
            <span class="text-gray-600">SEM 4</span>
        </div>
    </div>
    <div class="">
        <button class="bg-gray-500 shadow-md rounded-md p-2 right-0 ">+ Add</button>
    </div>
    <div class="bg-white rounded-md shadow-md overflow-hidden dark:bg-black">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Id</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Name</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Day</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Hour</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Center</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">CourseFamily</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Admission Date</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Status</th>
                    <th class="px-6 py-3 text-left text-gray-500 uppercase font-semibold text-sm  dark:text-white">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">C2208G1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">2,4,5,6</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">10:00-12:00</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">AA2HN</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">ADSE, OV-7091-ADSE</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">19/07/2022</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">Studying</td>
                    <td class="px-6 py-4 whitespace-nowrap text-gray-600 text-sm  dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M12 19.5v-15" />
                        </svg>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex items-center justify-center mt-4 gap-2">
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">
            &lt;&lt;First&lt;
        </button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">
            &lt;&lt;Previous&lt;
        </button>
        <button class="bg-blue-500 rounded-md px-4 py-2 text-white hover:bg-blue-600">1</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">2</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">3</button>
        <span class="text-gray-600">...</span>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">89</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">90</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">91</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">Next&gt;</button>
        <button class="bg-gray-200 rounded-md px-4 py-2 text-gray-600 hover:bg-gray-300">Last&gt;&gt;</button>
    </div>
</div>
