/* src/app/features/admin-management/student/student-detail/student-detail.component.scss */

.student-detail {
    .detail-container {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      flex-wrap: wrap; /* Cho phép hiển thị tốt hơn khi kích thước nhỏ */
    }
  
    .avatar-container {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .avatar {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        object-fit: cover;
        border: 2px solid #ddd;
      }
    }
  
    .student-info {
      flex: 1;
      display: flex;
      flex-direction: column;
  
      .student-name {
        text-align: center; /* Căn giữa tên học sinh */
        margin: 0 0 16px 0; /* Khoảng cách dưới cùng của tên học sinh */
        font-weight: bold;
      }
  
      .section-title {
        font-weight: bold;
        margin-bottom: 8px;
      }
  
      p {
        margin: 4px 0;
      }
  
      .guardian-info {
        margin-top: 16px;
      }
    }
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end; /* Đặt nút đóng ở phía bên phải */
    padding: 10px;
    margin-right: 10px;
  }
  