<!-- src/app/features/admin-management/student/student-detail/student-detail.component.html -->

<mat-dialog-content>
  <div class="student-detail">
    <div class="detail-container">
      <div class="avatar-container">
        <h2 class="student-name">{{ student.fullName }}</h2>
      </div>
      <div class="student-info">
        <h3 class="section-title">Student Information</h3>
        <p><strong>Roll Number:</strong> {{ student.rollNumber }}</p>
        <p><strong>Full Name:</strong> {{ student.fullName }}</p>
        <p><strong>Class:</strong> {{ student.className }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Phone Number:</strong> {{ student.phoneNumber }}</p>
        <p><strong>Course:</strong> {{ student.courses }}</p>
        <p><strong>Status:</strong> {{ student.status }}</p>

        <div class="guardian-info">
          <h3 class="section-title">Guardian Information</h3>
          <p><strong>Full Name:</strong> {{ student.parentFullName }}</p>
          <p><strong>Gender:</strong> {{ student.parentGender }}</p>
          <p><strong>Phone Number:</strong> {{ student.parentPhone }}</p>
          <p><strong>Relationship:</strong> {{ student.studentRelation }}</p>

        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>