<div class="col-span-5 grid grid-cols-1 md:grid-cols-5 ">
    <div  id="attendance" class="pl-5" >
      <div class="chart-container"></div>
      <h3  class="pt-5">Attendance</h3>
    </div>
    <div  id="awareness">
      <div class="chart-container"></div>
      <h3 class="pt-5">Awareness</h3>
    </div>
    <div  id="retake">
      <div class="chart-container"></div>
      <h3 class="pt-5">Retake</h3>
    </div>
    <div  id="homework">
      <div class="chart-container"></div>
      <h3 class="pt-5">Homework</h3>
    </div>
    <div  id="communication">
      <div class="chart-container"></div>
      <h3 class="pt-5">Communication</h3>
    </div>
  </div>
  
  