<div class="container mx-auto p-6 bg-white rounded-lg shadow-md w-[180vh]">
    <!-- Title Section -->
    <div class="flex items-center justify-start mb-6">
        <h1 class="text-3xl font-bold text-gray-700">Manage Student Attendance</h1>
        <small class="px-4 pb-3 text-gray-500 text-sm" *ngIf="classDetails && classDetails.course && schedules.length > 0">
            {{ classDetails?.className }} - {{ classDetails.course?.courseName }} -
            ({{ schedules[0].startDate | date: 'dd-MM-yyyy' }} - {{ schedules[schedules.length - 1].endDate | date:
            'dd-MM-yyyy' }}) - {{schedules[0].subjectName}} - {{ classDetails.subjectTeachers[0].teacherName }}

        </small>
    </div>

    <!-- Table Container -->
    <div class="overflow-auto rounded-lg shadow-sm max-h-[calc(100vh-220px)]">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg">
            <thead class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal sticky top-0 z-10">
                <!-- Header Row 1: Student Information -->
                <tr class="border-b border-gray-300">
                    <th class="py-3 px-4 text-left font-semibold" colspan="5">Student Information</th>
                    <th class="py-3 px-4 text-left font-semibold" [attr.colspan]="schedules.length * 2">Session
                        Attendance Data</th>
                </tr>
                <!-- Header Row 2: Columns for Student Info -->
                <tr class="border-b border-gray-300">
                    <th class="py-3 px-4 text-left font-semibold">Name</th>
                    <th class="py-3 px-4 text-left font-semibold">Class</th>
                    <th class="py-3 px-4 text-left font-semibold">Module</th>
                    <th class="py-3 px-4 text-left font-semibold">Status</th>
                    <th class="py-3 px-4 text-left font-semibold">Type</th>

                    <!-- Session Attendance Header -->
                    <ng-container *ngFor="let schedule of schedules; let i = index">
                        <th class="py-3 px-4 text-center bg-gray-100" colspan="2">
                            Session {{ i + 1 }}<br>{{ schedule.startDate | date: 'dd/MM/yyyy' }}
                        </th>
                    </ng-container>
                </tr>
                <!-- Header Row 3: SchoolShift 1 and SchoolShift 2 Columns -->
                <tr class="border-b border-gray-300">
                    <th colspan="5" class="py-2"></th>
                    <ng-container *ngFor="let schedule of schedules">
                        <th class="py-3 px-4 text-center bg-gray-100">SchoolShift 1</th>
                        <th class="py-3 px-4 text-center bg-gray-100">SchoolShift 2</th>
                    </ng-container>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody *ngIf="students && students.length > 0" class="text-gray-700">
                <tr *ngFor="let student of students" class="border-b hover:bg-gray-50"
                    [ngClass]="{ 'line-through': student.status !== 'STUDYING' }">
                    <!-- Student Information Columns -->
                    <td class="px-4 py-3 whitespace-nowrap">{{ student.fullName }}</td>
                    <td class="px-4 py-3">{{ classDetails.className }}</td>
                    <td class="px-4 py-3">{{ schedules[0].subjectName }}</td>
                    <td class="px-4 py-3">
                        <span class="rounded px-2 py-1 text-xs text-white" [ngClass]="{
                            'bg-green-500': student.status === 'STUDYING',
                            'bg-yellow-500': student.status === 'DELAY',
                            'bg-red-500': student.status === 'DROPPED',
                            'bg-orange-500': student.status === 'GRADUATED'
                        }">
                            {{ student.status }}
                        </span>
                    </td>
                    <td class="px-4 py-3">
                        <span class="bg-green-500 text-white rounded px-2 py-1 text-xs">Official</span>
                    </td>

                    <!-- Session Attendance Data -->
                    <ng-container *ngFor="let schedule of schedules">
                        <!-- Attendance for SchoolShift 1 -->
                        <td class="relative px-1">
                            <button
                                class="bg-gray-200 p-2 rounded-md w-full text-center transition duration-200 hover:bg-gray-300"
                                [ngClass]="{
                                'bg-green-500': getAttendanceStatus1(student.userId, schedule.scheduleId) === 'P',
                                'bg-orange-500': getAttendanceStatus1(student.userId, schedule.scheduleId) === 'PA',
                                'bg-red-500': getAttendanceStatus1(student.userId, schedule.scheduleId) === 'A',
                                'bg-gray-200': !getAttendanceStatus1(student.userId, schedule.scheduleId)
                            }" (click)="toggleDropdown(student.userId, schedule.scheduleId, 'ca1')">
                                <span
                                    *ngIf="getAttendanceStatus1(student.userId, schedule.scheduleId); else iconTemplate">
                                    {{ getAttendanceStatus1(student.userId, schedule.scheduleId) }}
                                </span>
                                <ng-template #iconTemplate>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </ng-template>
                            </button>

                            <!-- Dropdown styling -->
                            <div *ngIf="isDropdownOpenCheck(student.userId, schedule.scheduleId, 'ca1')"
                                class="absolute z-10 bg-white shadow-md border mt-1 rounded-md w-40">
                                <ul class="py-1">
                                    <li *ngFor="let status of ['P', 'A', 'PA']"
                                        (click)="selectStatus(student.userId, schedule.scheduleId, status, true)"
                                        [class.bg-gray-300]="getAttendanceStatus1(student.userId, schedule.scheduleId) === status"
                                        class="px-4 py-2 cursor-pointer hover:bg-gray-200 transition duration-200">
                                        {{ status }}
                                    </li>
                                    <li class="px-4 py-2 cursor-pointer hover:bg-gray-200 border-t transition duration-200"
                                        (click)="openCommentDialog(student.userId, schedule.scheduleId)">
                                        Add Comment
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!-- Attendance for SchoolShift 2 -->
                        <td class="relative px-1">
                            <button class="bg-gray-200 p-2 rounded-md w-full text-center" [ngClass]="{
                                'bg-green-500': getAttendanceStatus2(student.userId, schedule.scheduleId) === 'P',
                                'bg-orange-500': getAttendanceStatus2(student.userId, schedule.scheduleId) === 'PA',
                                'bg-red-500': getAttendanceStatus2(student.userId, schedule.scheduleId) === 'A',
                                'bg-gray-200': !getAttendanceStatus2(student.userId, schedule.scheduleId)
                            }" (click)="toggleDropdown(student.userId, schedule.scheduleId, 'ca2')">
                                <span
                                    *ngIf="getAttendanceStatus2(student.userId, schedule.scheduleId); else iconTemplate">
                                    {{ getAttendanceStatus2(student.userId, schedule.scheduleId) }}
                                </span>
                                <ng-template #iconTemplate>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </ng-template>
                            </button>

                            <div *ngIf="isDropdownOpenCheck(student.userId, schedule.scheduleId, 'ca2')"
                                class="absolute z-10 bg-white shadow-md border mt-1 rounded-md w-40">
                                <ul class="py-1">
                                    <li *ngFor="let status of ['P', 'A', 'PA']"
                                        (click)="selectStatus(student.userId, schedule.scheduleId, status, false)"
                                        [class.bg-gray-300]="getAttendanceStatus2(student.userId, schedule.scheduleId) === status"
                                        class="px-4 py-2 cursor-pointer hover:bg-gray-200">
                                        {{ status }}
                                    </li>
                                    <li class="px-4 py-2 cursor-pointer hover:bg-gray-200 border-t"
                                        (click)="openCommentDialog(student.userId, schedule.scheduleId)">
                                        Add Comment
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Message for no students -->
    <div *ngIf="students.length === 0" class="text-center py-4 text-gray-600">No students available.</div>
</div>