/* Tooltip Styles */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevent tooltip text from wrapping */
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-right .tooltip-text {
  top: 50%;
  left: 105%; /* Adjust this value to control distance from the element */
  transform: translate(0, -50%);
}

.tooltip-right .tooltip-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px; /* Adjust to move the arrow closer or further from the tooltip */
  margin-top: -5px; /* Adjust to align arrow with the middle of the tooltip */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent; /* Arrow pointing right */
}
