/* Custom CSS for the layout */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #app-root {
    height: 100%;
  }
/* app.component.scss */

.flex {
  display: flex;
}

.sidebar {
  transition: width 0.3s ease;
  width: 12rem; /* Kích thước mặc định */
  background-color: #f0f0f0; /* Điều chỉnh theo thiết kế */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-collapsed {
  width: 3rem; /* Kích thước khi thu hẹp */
}

.sidebar-expanded {
  width: 12rem; /* Kích thước khi mở rộng */
}

.main-content {
  margin-left: 12rem; /* Khoảng cách mặc định để phù hợp với sidebar đầy đủ */
  transition: margin-left 0.3s ease;
}


.sidebar-collapsed ~ .main-content {
  margin-left: 3rem; /* Điều chỉnh khoảng cách khi sidebar thu hẹp */
}

.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* Thêm các kiểu cho nút nếu cần */
}

app-navbar{
  margin: 0;
}

  