<div class="mt-8">
  <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
    <div class="mb-4">
      <label for="currentPassword" class="block text-gray-700 font-semibold">Current Password</label>
      <input 
        type="password" 
        id="currentPassword" 
        formControlName="currentPassword"
        class="mt-1 p-2 w-full border rounded" 
        placeholder="Enter current password"
      >
    </div>

    <div class="mb-4">
      <label for="newPassword" class="block text-gray-700 font-semibold">New Password</label>
      <input 
        type="password" 
        id="newPassword" 
        formControlName="newPassword"
        class="mt-1 p-2 w-full border rounded" 
        placeholder="Enter new password"
      >
    </div>

    <div class="mb-4">
      <label for="confirmPassword" class="block text-gray-700 font-semibold">Confirm New Password</label>
      <input 
        type="password" 
        id="confirmPassword" 
        formControlName="confirmPassword"
        class="mt-1 p-2 w-full border rounded" 
        placeholder="Confirm new password"
      >
      <p *ngIf="passwordMismatchError" class="text-red-500 mt-2">{{ passwordMismatchError }}</p>
    </div>

    <button type="submit" class="text-white bg-blue-500 py-2 px-4 rounded">Change Password</button>
  </form>
</div>
