.table-container { 
    overflow: hidden;  
    background-color: #fff;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    // margin-top: 20px; 
    width: fit-content;
}
.custom-table {
    width: auto;
    border-collapse: collapse; 
    font-size: 1em;
    text-align: left;
}

.custom-table th,
.custom-table td {
    border-bottom: 1px solid #eaeaea; 
    // text-align: center;
}


.custom-table th {
    background-color: #ffffff;
    font-weight: bold;
}

.custom-table tr:nth-child(even) {
    background-color: #ffffff;
}
.header-container {
    display: flex;  
    align-items: center;  
}

.class-code {
    margin-left: 10px;  
    font-size: 0.9em;  
    color: gray;  
} 
.select-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}
 
.overflow-x-auto {
    overflow-x: auto; /* Hiển thị thanh cuộn ngang khi cần */
}

.table-container {
    max-width: 100%; 
    border: 1px solid #ccc; /* Đường viền cho container */
}


table {
min-width: 1305px; /* Đặt chiều rộng tối thiểu cho bảng */
border-collapse: collapse; /* Gộp viền cho bảng */
}

th,
td {
    border: 1px solid #ccc; /* Đường viền cho các ô */
    padding: 5px; /* Padding cho các ô */
    text-align: center; /* Căn giữa nội dung */
    white-space: nowrap; /* Ngăn nội dung xuống dòng */
}

/* Cố định 2 cột đầu tiên */
th:first-child,
td:first-child {
    position: sticky; /* Cố định vị trí */
    left: 0; /* Cố định cột đầu tiên */
    background-color: white; /* Màu nền của cột */
    z-index: 10; /* Đảm bảo cột này ở trên cùng */
}

th:nth-child(2),
td:nth-child(2) {
    position: sticky; /* Cố định vị trí */
    left: 100px; /* Cố định cột thứ hai sau cột đầu tiên */
    background-color: white; /* Màu nền của cột */
    z-index: 9; /* Đảm bảo cột này ở trên cùng, nhưng dưới cột đầu tiên */
}
.text-left-custom {
    text-align: left; /* Căn trái nội dung */
}