<form [formGroup]="studentForm" (ngSubmit)="onSubmit()"
  class="p-4 max-w-lg mx-auto bg-white shadow-md rounded md:max-w-lg">
  <h2 class="text-xl font-bold ">Add Student</h2>
  <hr>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
    <!-- Roll Number -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Roll Number</label>
      <input formControlName="rollNumber"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('rollNumber')?.invalid && studentForm.get('rollNumber')?.touched"
        class="text-red-500 text-xs mt-1">
        Roll Number is required.
      </div>
    </div>

    <!-- Full Name -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Full Name</label>
      <input formControlName="fullName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('fullName')?.invalid && studentForm.get('fullName')?.touched"
        class="text-red-500 text-xs mt-1">
        Full Name is required and must be at least 2 characters long.
      </div>
    </div>

    <!-- Gender -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Gender</label>
      <div class="flex items-center">
        <label class="inline-flex items-center mr-4">
          <input formControlName="gender" type="radio" value="Male" class="form-radio text-blue-600" />
          <span class="ml-2">Male</span>
        </label>
        <label class="inline-flex items-center mr-4">
          <input formControlName="gender" type="radio" value="Female" class="form-radio text-blue-600" />
          <span class="ml-2">Female</span>
        </label>
        <label class="inline-flex items-center">
          <input formControlName="gender" type="radio" value="Other" class="form-radio text-blue-600" />
          <span class="ml-2">Other</span>
        </label>
      </div>
      <div *ngIf="studentForm.get('gender')?.invalid && studentForm.get('gender')?.touched"
        class="text-red-500 text-xs mt-1">
        Gender is required.
      </div>
    </div>

    <!-- Class Name -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Class Name</label>
      <select formControlName="className"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="" disabled>Select Class</option>
        <option *ngFor="let class of availableClasses" [value]="class.id">
          {{ class.className }}
        </option>
      </select>
      <div *ngIf="studentForm.get('className')?.invalid && studentForm.get('className')?.touched"
        class="text-red-500 text-xs mt-1">
        Class Name is required.
      </div>
    </div>


    <!-- Date of Birth -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Date of Birth</label>
      <input formControlName="dob"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date" />
      <div *ngIf="studentForm.get('dob')?.invalid && studentForm.get('dob')?.touched" class="text-red-500 text-xs mt-1">
        Date of Birth is required and must be a valid date.
      </div>
    </div>

    <!-- Phone Number -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Phone Number</label>
      <input formControlName="phoneNumber"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="tel" />
      <div *ngIf="studentForm.get('phoneNumber')?.invalid && studentForm.get('phoneNumber')?.touched"
        class="text-red-500 text-xs mt-1">
        Phone Number is required.
      </div>
    </div>

    <!-- Address -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Address</label>
      <input formControlName="address"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('address')?.invalid && studentForm.get('address')?.touched"
        class="text-red-500 text-xs mt-1">
        Address is required.
      </div>
    </div>

    <!-- Courses -->
    <div class="relative">
      <!-- Input Field -->
      <label class="block text-gray-700 text-sm mb-2">Course</label>
      <input type="text" [value]="selectedCourses.join(', ')" (click)="toggleDropdown()" placeholder="Select courses"
        readonly class="form-input border rounded p-2 w-full cursor-pointer" />

      <!-- Dropdown Menu -->
      <div *ngIf="isDropdownOpen" class="absolute z-10 bg-white border border-gray-300 rounded mt-1 w-full shadow-lg">
        <div *ngFor="let course of availableCourses" (click)="onCourseToggle(course)"
          class="flex items-center p-2 hover:bg-gray-200 cursor-pointer">
          <input type="checkbox" [value]="course" [checked]="selectedCourses.includes(course)"
            class="form-checkbox text-blue-600 mr-2" (click)="onCheckboxClick($event, course)" />
          <span>{{ course }}</span>
        </div>
      </div>
    </div>

    <!-- Parent's Full Name -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Parent's Full Name</label>
      <input formControlName="parentFullName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('parentFullName')?.invalid && studentForm.get('parentFullName')?.touched"
        class="text-red-500 text-xs mt-1">
        Parent's Full Name is required and must be at least 2 characters long.
      </div>
    </div>

    <!-- Relation to Student -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Relation to Student</label>
      <select formControlName="studentRelation"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="" disabled>Select Relationship</option>
        <option value="Father">Father</option>
        <option value="Mother">Mother</option>
        <option value="Guardian">Guardian</option>
      </select>
      <div *ngIf="studentForm.get('studentRelation')?.invalid && studentForm.get('studentRelation')?.touched"
        class="text-red-500 text-xs mt-1">
        Relation to Student is required.
      </div>
    </div>

    <!-- Parent's Phone Number -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Parent's Phone Number</label>
      <input formControlName="parentPhone"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="tel" />
      <div *ngIf="studentForm.get('parentPhone')?.invalid && studentForm.get('parentPhone')?.touched"
        class="text-red-500 text-xs mt-1">
        Parent's Phone Number is required and must be in a valid format.
      </div>
    </div>

    <!-- Parent's Gender -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Parent's Gender</label>
      <div class="flex items-center">
        <label class="inline-flex items-center mr-4">
          <input formControlName="parentGender" type="radio" value="Male" class="form-radio text-blue-600" />
          <span class="ml-2">Male</span>
        </label>
        <label class="inline-flex items-center mr-4">
          <input formControlName="parentGender" type="radio" value="Female" class="form-radio text-blue-600" />
          <span class="ml-2">Female</span>
        </label>
        <label class="inline-flex items-center">
          <input formControlName="parentGender" type="radio" value="Other" class="form-radio text-blue-600" />
          <span class="ml-2">Other</span>
        </label>
      </div>
      <div *ngIf="studentForm.get('parentGender')?.invalid && studentForm.get('parentGender')?.touched"
        class="text-red-500 text-xs mt-1">
        Parent's Gender is required.
      </div>
    </div>

    <!-- Form Buttons -->
    <div class="flex items-center justify-between mt-4">
      <div class="form-actions">
        <button type="button" (click)="onCancel()"
          class="mr-2 bg-gray-300 hover:bg-gray-400 text-white py-2 px-4 rounded">
          Cancel
        </button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
          Save
        </button>
      </div>
    </div>
  </div>
</form>