<div class="flex-1 p-6 dark:bg-slate-900">
  <!-- Dashboard Stats Section -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
    <div *ngIf="students"
      class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer"
      [routerLink]="(currentUserRole === 'ROLE_ADMIN') ? ['/admin/student/all'] : ['/sro/student/all']">
      <span class="text-3xl font-bold">{{ totalStudents }}</span>
      <span class="text-gray-600">STUDENT</span>
    </div>
    <div *ngIf="classes"
      class="bg-blue-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer"
      [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/teacher'] : ['/sro/teacher']">
      <span class="text-3xl font-bold">{{ totalTeacher }}</span>
      <span class="text-gray-600">TEACHER</span>
    </div>
    <div *ngIf="classes"
      class="bg-yellow-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer"
      [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/sro'] : ['/sro']">
      <span class="text-3xl font-bold">{{ totalSros }}</span>
      <span class="text-gray-600">SRO</span>
    </div>
    <div *ngIf="classes"
      class="bg-cyan-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer"
      [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/class'] : ['/sro/class']">
      <span class="text-3xl font-bold">{{ totalClasses }}</span>
      <span class="text-gray-600">CLASS</span>
    </div>
  </div>


  <!-- File Upload and Sheet Selection -->
  <div class="container bg-white p-6 rounded-lg shadow-md">
    <div class="file-upload mb-6">
      <input type="file" (change)="onFileChange($event)" class="hidden" #fileInput (click)="toggleImportMode()" />
      <button (click)="fileInput.click()"
        class="bg-gray-400 text-white hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-cyan-200 py-2 px-4 rounded shadow">Import</button>
    </div>

    <div *ngIf="sheetNames.length > 0" class="sheet-selection mb-6">
      <h3 class="text-xl font-semibold">Select a sheet to display its data</h3>
      <select (change)="onSheetSelect($event)" class="border p-2 rounded-lg w-full">
        <option *ngFor="let sheetName of sheetNames" [value]="sheetName">{{ sheetName }}</option>
      </select>
    </div>

    <div class="flex-1 dark:bg-slate-900">
      <div *ngIf="!isImportMode" class="report-summary bg-gray-200 rounded-lg p-4 ">
        <div class="flex items-center justify-between mb-6">
          <small class="pb-3 text-gray-800 text-sm">C2211G + C2208G2 - ADFD (FC Duy) - Phạm Thị Kim Dung - 71</small>
        </div>

        <!-- Total Report Table -->
        <h3 class="text-xl font-semibold mb-4">Total Report</h3>
        <table class="min-w-full table-auto border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Chuyên cần</th>
              <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">DSE</th>
              <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">BTVN</th>
              <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Thi lại học lại</th>
              <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Giao tiếp và trao đổi</th>
            </tr>
            <tr class="bg-gray-100">
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Đi muộn</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Nghỉ</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Ý thức</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Năng lực</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Nộp muộn</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Không nộp</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Thi lại</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Học lại</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Phụ huynh</th>
              <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">AH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Cần trao đổi</td>
              <td class="border border-gray-300 px-4 py-2 text-center font-semibold">Đã trao đổi</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2 text-center">7</td>
              <td class="border border-gray-300 px-4 py-2 text-center">7</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">9</td>
              <td class="border border-gray-300 px-4 py-2 text-center">18</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">1</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">9</td>
              <td class="border border-gray-300 px-4 py-2 text-center">18</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">1</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">9</td>
              <td class="border border-gray-300 px-4 py-2 text-center">18</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>
              <td class="border border-gray-300 px-4 py-2 text-center">0</td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- File Upload and Sheet Selection -->
      <div class="container bg-white p-6 rounded-lg shadow-md hidden">
        <div class="file-upload mb-6">
          <input type="file" (change)="onFileChange($event)" class="hidden" #fileInput />
          <button (click)="fileInput.click()"
            class="bg-blue-500 text-white hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow">Import</button>
        </div>

        <div *ngIf="sheetNames.length > 0" class="sheet-selection mb-6">
          <h3 class="text-xl font-semibold">Select a sheet to display its data</h3>
          <select (change)="onSheetSelect($event)" class="border p-2 rounded-lg w-full">
            <option *ngFor="let sheetName of sheetNames" [value]="sheetName">{{ sheetName }}</option>
          </select>
        </div>

        <div *ngIf="Sro" class="bg-white p-6 ">
          <div class="flex items-center justify-between">
            <small class="pb-3 text-gray-500 text-sm">{{ Class }} - {{ FCSubject }} - {{ Sro }} - {{SS}}</small>
          </div>
          <!-- Display the Data Table -->
          <div *ngIf="selectedSheetData.length > 0" class="data-table mb-6">
            <table class="min-w-full table-auto">
              <thead class="bg-gray-200">
                <tr>
                  <th *ngFor="let header of selectedSheetData[0]" class="py-2 px-4 text-left">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of selectedSheetData.slice(1)">
                  <td *ngFor="let cell of row" class="py-2 px-4 border-t">{{ cell }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div *ngIf="Sro" class="bg-white p-6 ">
        <div class="flex items-center justify-between mb-6">
          <small class="pb-3 text-gray-500 text-sm">{{ Class }} - {{ FCSubject }} - {{ Sro }} - {{SS}}</small>
        </div>

        <!-- Display the Data Table -->
        <div *ngIf="selectedSheetData.length > 0" class="data-table mb-6">
          <table class="min-w-full table-auto">
            <thead class="bg-gray-200">
              <tr>
                <th *ngFor="let header of selectedSheetData[0]" class="py-2 px-4 text-left">{{ header }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of selectedSheetData.slice(1)">
                <td *ngFor="let cell of row" class="py-2 px-4 border-t">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Column Sums Table -->
        <div *ngIf="columnSums.length > 0" class="sum-table p-4 rounded-lg bg-gray-200">
          <h3 class="text-xl font-semibold mb-4">Total Report</h3>
          <table class="min-w-full table-auto">
            <thead class="bg-gray-200">
              <tr>
                <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Chuyên cần</th>
                <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">DSE</th>
                <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">BTVN</th>
                <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Thi lại học lại</th>
                <th colspan="4" class="border border-gray-300 px-4 py-2 text-center">Giao tiếp và trao đổi</th>
              </tr>
              <tr class="bg-gray-100">
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Đi muộn</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Nghỉ</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Ý thức</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Năng lực</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Nộp muộn</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Không nộp</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Thi lại</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Học lại</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">Phụ huynh</th>
                <th colspan="2" class="border border-gray-300 px-4 py-2 text-center">AH</th>
              </tr>
              <tr>
                <th *ngFor="let name of columnNames" class="py-2 px-4 text-left">{{ name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let sum of columnSums.slice(4)" class="py-2 px-4 border-t">{{ sum }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>