<div class="container mx-auto mt-8 max-w-lg bg-slate-200">
  <form (ngSubmit)="saveClass()" class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">{{ isEditMode ? 'Edit' : 'Add' }} Class</h2>

    <!-- Class Name -->
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" id="className" [(ngModel)]="class.className" name="className" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
        focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="className" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
        top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Class Name</label>
    </div>

    <!-- Center -->
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" id="center" [(ngModel)]="class.center" name="center" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
        focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="center" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
        top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Center</label>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <!-- Start Hour -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="time" id="startHour" [(ngModel)]="startHour" name="startHour" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
          focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="startHour" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
          top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
          peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Start Hour</label>
      </div>

      <!-- Finish Hour -->
      <div class="relative z-0 w-full mb-5 group">
        <input type="time" id="finishHour" [(ngModel)]="finishHour" name="finishHour" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
          focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="finishHour" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
          top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
          peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Finish Hour</label>
      </div>
    </div>

    <!-- Days -->
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" id="days" [(ngModel)]="class.days" name="days" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " readonly />
      <label for="days" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
    top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
    peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Days</label>

      <!-- Checkbox days -->
      <div class="mt-4 flex flex-wrap">
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="2" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Monday</small>
        </label>
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="3" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Tuesday</small>
        </label>
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="4" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Wednesday</small>
        </label>
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="5" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Thursday</small>
        </label>
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="6" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Friday</small>
        </label>
        <label class="inline-flex items-center mr-1">
          <input type="checkbox" value="7" (change)="toggleDay($event)" class="form-checkbox h-4 w-4 text-blue-600">
          <small class="ml-2">Saturday</small>
        </label>
      </div>
    </div>
    <!-- Admission Date -->
    <!-- <div class="relative z-0 w-full mb-5 group">
      <input type="date" id="admissionDate" [(ngModel)]="class.admissionDate" name="admissionDate" required class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
        focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="admissionDate" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
        top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Admission Date</label>
    </div> -->

    <!-- Status -->
    <div  class="relative z-0 w-full mb-5 group">
      <select id="status" [(ngModel)]="class.status" name="status"
        class="block py-2.5 w-full text-sm text-gray-900 bg-transparent border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600">
        <option value="STUDYING">Studying</option>
        <option value="FINISHED">Finished</option>
        <option value="CANCEL">Cancel</option>
        <option value="SCHEDULED">Scheduled</option>
      </select>
      <label for="status" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
        top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Status</label>
    </div>
    <!-- Buttons -->
    <div class="flex items-center justify-between mt-4">
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        {{ isEditMode ? 'Update' : 'Add' }}
      </button>
      <button type="button" (click)="onClosed()"
        class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Cancel
      </button>
    </div>
  </form>
</div>