<div class="student-list p-4 space-y-6 bg-white rounded-lg shadow-md">
    <!-- Total Students Display -->
    <div class="total-students text-lg font-semibold text-gray-800">
        Total Students: <span>{{ totalStudents }}</span>
    </div>

    <!-- Header with Search and Action Buttons -->
    <div class="header">
        <div class="header-actions flex flex-wrap items-center justify-between gap-4">
            <!-- Search Input -->
            <div class="relative w-full sm:w-1/2 lg:w-1/3">
                <input id="searchInput" type="text" placeholder=" " [(ngModel)]="searchTerm"
                    (ngModelChange)="applyFilter($event)"
                    class="w-full h-10 px-4 py-2 bg-white placeholder-transparent text-gray-700 text-sm border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                <label for="searchInput"
                    class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500 text-sm transition-all duration-300 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-gray-500 peer-placeholder-shown:text-base peer-focus:-top-3 peer-focus:text-blue-500 peer-focus:text-xs">Search</label>
            </div>

            <!-- Action Buttons -->
            <div class="actions flex flex-wrap space-x-2 ml-auto">
                <button
                    class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
                    (click)="triggerFileInput()">
                    <i class="fa-solid fa-file-import"></i> Import
                </button>
                <button
                    class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
                    (click)="onExport()">
                    <i class="fa-solid fa-file-export"></i> Export
                </button>
                <button
                    class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
                    (click)="onAdd()">
                    <i class="fa-solid fa-plus"></i> Add
                </button>
                <button
                    class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow">
                    <i class="fa-solid fa-filter"></i> Filter
                </button>
            </div>
        </div>
    </div>

    <!-- No Results Message -->
    <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length == 0" class="no-results text-gray-600">
        No results found.
    </div>

    <!-- Table for Displaying Students -->
    <mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" class="mat-elevation-z8 table-auto w-full">
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef class="p-2"> Avatar </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2">
                <div class="avatar-container flex justify-center">
                    <img [src]="getAvatarUrl(student.image)" alt="Student Avatar"
                        class="avatar-image w-12 h-12 rounded-full" />
                </div>
            </mat-cell>
        </ng-container>

        <!-- Roll Number Column -->
        <ng-container matColumnDef="rollNumber">
            <mat-header-cell *matHeaderCellDef class="p-2"> Roll Number </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2"> {{student.rollNumber}} </mat-cell>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef class="p-2"> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2"> {{student.fullName}} </mat-cell>
        </ng-container>

        <!-- Class Column -->
        <ng-container matColumnDef="className">
            <mat-header-cell *matHeaderCellDef class="p-2"> Class </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2"> {{student.className}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email" class="email-label">
            <mat-header-cell *matHeaderCellDef class="p-2"> Email </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2">
                <span class="email" matTooltip="{{student.email}}">
                    {{student.email}}
                </span>
            </mat-cell>
        </ng-container>


        <!-- Phone Number Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef class="p-2"> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2"> {{student.phoneNumber}} </mat-cell>
        </ng-container>

        <!-- Status Column with Dynamic Classes -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="p-2"> Status </mat-header-cell>
            <mat-cell *matCellDef="let student"
                [ngClass]="{'bg-green-100 text-green-500': student.status === 'STUDYING', 'bg-red-100 text-red-500': student.status === 'DROPPED', 'bg-yellow-100 text-orange-500': student.status === 'DELAY', 'bg-blue-100 text-blue-500': student.status === 'GRADUATED'}"
                class="p-2">
                {{student.status || 'Unknown'}}
            </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="p-2"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let student" class="p-2">
                <button class="text-blue-400 hover:text-blue-600" matTooltip="Edit Student"
                    (click)="onUpdate(student, $event)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="text-red-400 hover:text-red-600" matTooltip="Delete Student"
                    (click)="onDelete(student.userId, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <!-- No Students Available Message -->
        <div *ngIf="dataSource.data.length === 0" class="no-students text-center text-gray-500">
            No students available.
        </div>

        <!-- No Results Found Message -->
        <div *ngIf="dataSource.filteredData.length === 0 && dataSource.data.length > 0"
            class="no-results text-gray-600">
            No results found.
        </div>

        <!-- Table Header and Rows -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50 cursor-pointer"
            (click)="onRowClick($event, row)"></mat-row>
    </mat-table>

    <!-- Paginator -->
    <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-4"></mat-paginator>
</div>